.footer {
  margin-top: -5px;
  max-width: 100%;
  width: 100%;
  height: 400px;
  position: relative;
  display: grid;
  grid-template-columns: 30% 35% 35%;
  justify-content: space-between;
  background-image: linear-gradient(
    to right,
    #e0efee 0%,
    #dbe4e4 51%,
    #e2f3f2 100%
  );
  border-radius: 0 100px 0 100px;
  .logo {
    position: relative;
    img {
      position: absolute;
      width: 230px;
      height: auto;
      top: 85px;
      left: 100px;
    }
  }
  .contact {
    padding: 45px 30px 0 0;
    .info-contact {
      h2 {
        text-align: center;
        margin-bottom: 25px;
        color: rgb(61, 104, 137);
        &:last-child {
          margin-top: 60px;
        }
      }
      .icon-contact {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        img {
          width: 31px;
          height: auto;
        }
        p {
          margin-left: 20px;
        }
      }
    }
    .social-media {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      h2 {
        display: block;
        text-align: center;
        margin-bottom: 25px;
        color: rgb(61, 104, 137);
      }
      .social {
        display: flex;
        align-items: center;
        justify-content: center;
        .facebook {
          border-radius: 100%;
          img {
            width: 50px;
            height: auto;
            transition: all 0.3s ease;
            &:hover {
              transform: translateY(-3px);
            }
          }
        }
        .tiktok {
          img {
            width: 60px;
            margin-left: 20px;
            height: auto;
            transition: all 0.3s ease;
            &:hover {
              transform: translateY(-3px);
            }
          }
        }
      }
    }
  }
  .service-difference {
    padding: 45px 30px 0 0;
    h2 {
      text-align: center;
      margin-bottom: 25px;
      color: rgb(61, 104, 137);
    }
    ul {
      padding: 2px 63px;
      li {
        margin-bottom: 20px;
      }
    }
    .viewer {
      display: flex;
      align-items: end;
      img {
        width: 20px;
        margin-left: 41px;
        margin-top: 80px;
        height: auto;
      }
      p {
        margin-left: 10px;
      }
    }
  }
}
