.header {
  max-width: 100%;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.9);
  border-radius: 0 0 15px 15px;
  box-shadow: 1px 1px 1px 0px rgba(150, 150, 150, 0.5);
  height: auto;
  .container {
    .infoHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      .logo {
        img {
          max-width: 100%;
          width: 140px;
        }
      }
      p {
        order: -1;
        color: #0095a0;
        font-weight: 500;
        span {
          font-size: 22px;
          color: #02575f;
          font-weight: 800;
        }
      }
      .onlineConsultation {
        color: #0095a0;
        font-weight: 500;
        span {
          font-size: 22px;
          color: #02575f;
          font-weight: 800;
        }
      }
    }
  }
}
@media only screen and (max-width: 426px) and (min-width: 376px) {
  .header {
    .container {
      .infoHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
          order: -1;
          width: 110px;
        }
        p {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 13px;
          span {
            font-size: 15px;
          }
        }
        .onlineConsultation {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 13px;
          span {
            font-size: 15px;
          }
        }
      }
    }
  }
}
