.albums {
  padding: 40px 50px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  .titleAlbums {
    max-width: 100%;
    width: 100%;
    h1 {
      cursor: default;
      font-size: 30px;
      text-align: center;
      color: rgb(61, 104, 137);
      margin-bottom: 30px;
    }
  }
  .slideImage {
    overflow-x: hidden;
    .frame {
      max-width: 100%;
      width: 820px;
      height: auto;
      margin: 0 auto;
      background-color: #eaeaea;
      padding: 20px 20px;
      border-radius: 8px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
      .image {
        max-width: 100%;
        width: 780px;
        margin: 0 auto;
        img {
          max-width: 100%;
          height: 450px;
          object-fit: cover;
        }
      }
    }
  }
  .custom-shape-divider-bottom-1736946528 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
  }
  .custom-shape-divider-bottom-1736946528 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
  }
  .custom-shape-divider-bottom-1736946528 .shape-fill {
    fill: rgb(61, 104, 137);
  }
}
@media only screen and (max-width: 426px) and (min-width: 376px) {
  .albums {
    padding: 40px 0 0 0;
    .titleAlbums {
      h1 {
        font-size: 25px;
      }
    }
    .slideImage {
      .frame {
        padding: 0;
        background-color: transparent;
        .image {
          width: 430px;
        }
      }
    }
    .custom-shape-divider-bottom-1736946528 {
      display: none;
    }
  }
}
@media screen and (max-width: 376px) and (min-width: 321px) {
  .albums {
    padding: 40px 0 0 0;
    .titleAlbums {
      h1 {
        font-size: 25px;
      }
    }
    .slideImage {
      .frame {
        padding: 0;
        background-color: transparent;
        .image {
          width: 430px;
        }
      }
    }
    .custom-shape-divider-bottom-1736946528 {
      display: none;
    }
  }
}
@media only screen and (max-width: 320px) {
  .albums {
    padding: 40px 0 0 0;
    .titleAlbums {
      h1 {
        font-size: 19px;
      }
    }
    .slideImage {
      .frame {
        padding: 0;
        background-color: transparent;
        .image {
          width: 430px;
        }
      }
    }
    .custom-shape-divider-bottom-1736946528 {
      display: none;
    }
  }
}
