@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.news {
  padding: 40px;
  text-align: center;

  h1 {
    font-size: 30px;
    color: rgb(61, 104, 137);
  }

  .slick-slider {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .slick-list {
    margin: 0 20px !important;
  }
  .box-news {
    margin: 0 20px;
    .box-wrapper {
      margin-top: 35px;
      display: flex;
      justify-content: center;
      .box-item {
        position: relative;
        margin: auto;
        overflow: hidden;
        border-radius: 8px;
        width: 350px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 390px;
        background-color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: bold;
        color: white;
        &:hover .overlay {
          opacity: 1;
          transform: translateY(0);
        }
        .overlay {
          position: absolute;
          cursor: pointer;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.6);
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transform: translateY(100%);
          transition: all 0.3s ease-in-out;
        }

        .overlay-text {
          cursor: pointer;
          color: white;
          font-size: 18px;
          font-weight: bold;
          position: relative;

          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: white;
            position: absolute;
            bottom: -4px;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
          }

          &:hover::after {
            transform: scaleX(1);
          }
        }

        .thumb-new {
          width: 100%;
          height: 65%;
          top: 0;
          left: 0;
          img {
            width: 100%;
            height: 100%;
            background-position: center;
            object-fit: cover;
          }
        }
        .text-new {
          h2 {
            color: black;
            font-family: "Playfair Display", serif;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 4.5em;
            font-size: 17px;
            line-height: 25px;
            padding: 5px 15px;
          }
          p {
            color: black;
            font-size: 14px;
            padding: 0 15px;
            font-weight: 300;
            line-height: 20px;
            font-family: Arial, Helvetica, sans-serif;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 4.5em;
          }
        }
      }
    }
    .slick-prev,
    .slick-next {
      width: 60px;
      height: 60px;
      z-index: 10;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid black;
      background-color: transparent;
      transition: all 0.4s ease-in-out;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

      &:before {
        font-size: 24px;
        color: black;
      }

      &:hover {
        background-color: #1c71b2;
        border: none;

        &:before {
          color: white;
        }
      }
    }

    .slick-prev {
      left: -55px;
      top: 230px;
    }
    .slick-next {
      top: 230px;
      right: -55px;
    }
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  .news {
    padding: 40px 44px 30px 22px;
    .box-news {
      .slick-prev,
      .slick-next {
        display: none !important;
      }
      .slick-list {
        margin: 0 -37px !important;
      }
    }
  }
}
@media only screen and (max-width: 426px) and (min-width: 376px) {
  .news {
    padding: 40px 40px 30px 40px;
    h1{
      font-size: 25px;
    }
    .box-news {
      .box-wrapper{
        margin-top: 20px;
      }
      .slick-prev,
      .slick-next {
        display: none !important;
      }
      .slick-list {
        margin: 0 -37px !important;
      }
    }
  }
}
@media screen and (max-width: 376px) and (min-width: 321px) {
  .news {
    padding: 40px 40px 30px 40px;
    h1{
      font-size: 25px;
    }
    .box-news {
      .box-wrapper {
        .box-item {
          width: 300px !important;
        }
      }
      .slick-prev,
      .slick-next {
        display: none !important;
      }
      .slick-list {
        margin: 0 -37px !important;
      }
    }
  }
}
@media only screen and (max-width: 320px) {
  .news {
    padding: 40px 40px 30px 40px;
    h1{
      font-size: 19px;
    }
    .box-news {
      .box-wrapper {
        .box-item {
          width: 260px !important;
        }
      }
      .slick-prev,
      .slick-next {
        display: none !important;
      }
      .slick-list {
        margin: 0 -37px !important;
      }
    }
  }
}
