.workflow {
  margin-top: -5px;
  position: relative;
  .thumb {
    img {
      max-width: 100%;
      width: 100%;
      height: 540px;
    }
    .cross1,
    .cross2 {
      width: 40px;
      height: auto;
      position: absolute;
      animation: spin 4s linear infinite;
    }
    .cross1 {
      left: 50px;
      top: 420px;
      animation: spin1 4s linear infinite;
    }
    .cross2 {
      right: 50px;
      top: 70px;
      animation: spin2 4s linear infinite;
    }
    @keyframes spin1 {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }
    @keyframes spin2 {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  .content-workflow {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    width: 1100px;
    margin: 0 auto;
    h1 {
      cursor: default;
      font-size: 35px;
      margin-bottom: 40px;
      text-align: center;
      color: rgb(61, 104, 137);
    }

    .box-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .box-circle {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        border: 3px solid rgb(61, 104, 137);
        overflow: hidden;
        img {
          width: 230px;
          height: 230px;
          object-fit: cover;
        }
        .info-workflow {
          margin-top: 20px;
          h2 {
            cursor: default;
            position: absolute;
            z-index: 2;
            font-size: 20px;
            font-weight: 700;
            color: rgb(8, 39, 62);
            &:nth-child(2) {
              margin-left: 40px;
            }
          }
          p {
            cursor: default;
            position: absolute;
            z-index: 2;
            margin-top: 34px;
            width: 250px;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: rgb(71, 101, 124);
          }
        }
        &:nth-child(2) {
          border: 3px solid rgb(71, 209, 168);
        }
        &:nth-child(4) {
          border: 3px solid rgb(71, 209, 168);
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  .workflow {
    .thumb {
      img {
        max-width: 100%;
        width: 100%;
        height: 880px;
      }
      .cross2 {
        top: 100px;
      }
      .cross1 {
        top: 700px;
        left: 20px;
      }
    }
    .content-workflow {
      h1 {
        font-size: 27px;
        text-align: center;
      }
      .box-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        .box-circle {
          margin-top: 150px;
          &:first-child {
            margin-top: 0px;
          }
          &:nth-child(2) {
            margin-top: 0px;
          }
          .info-workflow {
            margin-top: 0px;
            h2 {
              margin-left: 73px;
            }
            p {
              position: absolute;
              left: 50%;
              transform: translateX(-48%);
              text-align: center;
              width: 300px;
            }
          }
          &:nth-child(1) p {
            left: 25% !important;
          }
          &:nth-child(2) p {
            left: 75% !important;
          }
          &:nth-child(3) p {
            left: 25% !important;
          }
          &:nth-child(4) p {
            left: 75% !important;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 426px) and (min-width: 376px) {
  .workflow {
    .thumb {
      img {
        max-width: 100%;
        width: 100%;
        height: 1600px;
      }
      .cross2 {
        top: 100px;
      }
      .cross1 {
        top: 700px;
        left: 20px;
      }
    }
    .content-workflow {
      h1 {
        font-size: 25px;
        text-align: center;
      }
      .box-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .box-circle {
          margin-top: 150px;
          &:first-child {
            margin-top: 0px;
          }
          .info-workflow {
            margin-top: 0px;
            h2 {
              margin-left: 73px;
            }
            p {
              position: absolute;
              left: 50%;
              transform: translateX(-48%);
              text-align: center;
              width: 360px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 376px) and (min-width: 321px) {
  .workflow {
    .thumb {
      img {
        max-width: 100%;
        width: 100%;
        height: 1500px;
      }
      .cross2 {
        top: 100px;
      }
      .cross1 {
        top: 770px;
        left: 20px;
      }
    }
    .content-workflow {
      h1 {
        font-size: 21px;
        text-align: center;
      }
      .box-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .box-circle {
          width: 190px;
          height: 190px;
          margin-top: 150px;
          img {
            width: 190px;
            height: 190px;
            object-fit: cover;
          }
          &:first-child {
            margin-top: 0px;
          }
          .info-workflow {
            margin-top: 3px;
            h2 {
              font-size: 18px;
              margin-left: 63px;
            }
            p {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              text-align: center;
              width: 330px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 320px) {
  .workflow {
    .thumb {
      img {
        max-width: 100%;
        width: 100%;
        height: 1380px;
      }
      .cross2 {
        top: 100px;
      }
      .cross1 {
        top: 770px;
        left: 20px;
      }
    }
    .content-workflow {
      h1 {
        font-size: 19px;
        text-align: center;
      }
      .box-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .box-circle {
          width: 170px;
          height: 170px;
          margin-top: 150px;
          img {
            width: 170px;
            height: 170px;
            object-fit: cover;
          }
          &:first-child {
            margin-top: 0px;
          }
          .info-workflow {
            margin-top: 3px;
            h2 {
              font-size: 18px;
              margin-left: 54px;
            }
            p {
              position: absolute;
              left: 50%;
              font-size: 13px;
              transform: translateX(-50%);
              text-align: center;
              width: 295px;
            }
          }
        }
      }
    }
  }
}
